@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{ 
    font-family: "Open Sans", sans-serif; 
}
/* header */
.header{
    background-image: url('../images/developer.png'),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left ,bottom right;
    
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px  200px;
   }
.nav-title{
    font-weight:800;
    font-size: 45px;
 }
 nav ul{
    display: flex;
    align-items: center;
 }

 nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
}
/* Banner Styles  */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 220px;}
.banner-content{
    max-width: 585px;
}
.banner-greetings{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 0;
    }
.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 30px;
}
.banner-profile-pic{
    width: 584px;
    height: 676px;}

 /* shared styles */
 .secondary-bg{
    background-color: #FFF8F3;
 }
 .text-primary{
    color: #FD6E0A;
 }
.dark-2{ color: #474747;}
.dark-3{ color: #757575;}
.btn{
    background-color:  #FFF8F3;
    font-weight: bold;
    font-size: 20px;
    color: #FD6E0A;
    border-color:#FD6E0A ;
    border-radius: 5px;
    padding: 18px 35px;
    margin-left: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.section-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 0px;
    padding: 0px 70px;
}
.text-center{text-align: center;

}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* About Styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
}
.item-description{
    font-weight: bold;
    margin-top: 0px;
    color: #474747;
}
.item-title{
    margin-bottom: 0px;
    color: #757575;
}
.skills-container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
    }
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* Resume Style Section */
.resume-container{
    display: flex;
    gap: 24px;
}
.resume hr{
       margin: 30px 24px 30px 5px;}
      
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #474747;
}
.experience-title{
    color: #474747;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0px;
}
.experience-subtitle {
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.experience-description{
    color: #757575;
   }
   .cv-btn{
    margin-top: 50px;
   }
   /*Footer Styles  */
footer{
    display: flex;
    padding: 130px 230px;
    gap: 115px;
   }
footer p{
    margin-top: 20px;
    margin-bottom: 30px;
    }
form{
    margin-top: 28px;
}
footer input[type="text"], footer input[type="email"],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 24px;
    border: none;

}